body {
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	position: relative;
}
img {
	max-width: 100%;
	height:auto;
}
.serif {
	font-family:'Crimson Text', "Times New Roman", Times, serif;
}
ul {
	list-style-image: url('../img/list.png');
	padding-left:15px;
}
.modal-backdrop {
	z-index: 4045;
}
.modal-header button.close {
	margin-top:-10px;
    opacity:1;
}
.modal-header button.close span {
	font-size:30px;
    text-shadow: none;
    color:#fff;	
    line-height: 1em;
}
.modal-content {
	height:100%;
}
.modal-body {
	height:95%;
}


/* INTRO */
.intro h1 {
	text-align:center;
	margin-bottom:60px;
}
.intro h2 {
	text-align: center;
	font-family:'Crimson Text', "Times New Roman", Times, serif;
	font-size:28px;
	line-height:1.4em;
	font-weight:600;
	margin-bottom:100px;
}
.intro h2 span {
	display:block;
}
.intro p {
	font-size:24px;
	line-height:1.6em;
}
.intro p.serif {
	font-family:'Crimson Text', "Times New Roman", Times, serif;
	font-weight:700;
	text-align: center;
}
.intro .passer {
	text-transform: uppercase;
	text-align:center;
	display:block;
	width:156px;
	font-size:20px;
	padding:10px 0;
	margin:50px auto;
}
.intro .passer, 
.intro .btn-fp-slide a {
	border:1px solid #CA996C;
	color:#CA996C;
}
.intro .passer:hover,
.intro .passer:focus, 
.intro .passer:active,
.intro .btn-fp-slide a:hover,
.intro .btn-fp-slide a:focus, 
.intro .btn-fp-slide a:active   {
	color:#fff;
	background-color:#CA996C;
	text-decoration:none; 
}
.intro .pager-slide-intro a{
	font-size:24px;
	width:42px;
	line-height:42px;
	text-align:center;
	display:block;
}
.intro .pager-slide-intro a.disabled {
	display: none;
}
.intro .pager-slide-intro span {
	position:absolute;
	top:50%;
	margin-top:-42px;
}	
.intro .pager-slide-intro .next {
	right:20px;
}
.intro .pager-slide-intro .prev {
	left:20px;
}
.intro video {
	width:100%;
	height:auto;
}

.quiz {
	padding:10px 20px;
	margin-bottom:15px;
	position: relative;
}
.quiz:before {
	content:"";
	position: absolute;
	background: url('../img/before-quiz.png') no-repeat transparent 0 0;
	height:16px;
	width:17px;
	display: block;
	bottom:-16px;
	left:16px;
}
.quiz:hover:before, 
.quiz:focus:before, 
.quiz:active:before {
	background-image:url('../img/before-quiz-hover.png');
}

.buttons-container {
	margin:25px 0;
}


/* MODAL */
.modal-header {
    min-height: 20px;
    border: 0 none;
    padding: 0;
}
.modal-body {
    height: 95%;
}


/* VITRINE */
.modal-vitrine {
	z-index: 4070;
}
.modal-vitrine .modal-lg {
    width: 24.5%;
    min-height: 200px;
    height: auto;
    margin: 70px auto;
    min-width: 300px;
}
.modal-vitrine .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0 none;
}
.modal-vitrine .modal-body {
    background-color: #fff;
    padding: 30px;
    font-size:18px;
   	line-height:26px;
}
.btn-vitrine {
	color:#CA996C;
	border:1px solid #CA996C;
	padding:10px 0;
	width:100%;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
}
.btn-vitrine:hover,
.btn-vitrine:focus,
.btn-vitrine:active {
	background-color:#CA996C;
	color:#fff; 
	text-decoration: none;
}


/* POPUP */
.modal-backdrop.backpopup {
	z-index:4063;
}
.modal-popup {
	z-index: 4065;
}
.modal-popup .modal-lg {
    width: 65%;
    min-height: 200px;
    height: auto;
    margin: 70px auto;
    min-width: 300px;
}
.modal-popup .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0 none;
}
.modal-popup .modal-body {
    background-color: #fff;
    padding: 30px;
    font-size:18px;
   	line-height:26px;
}
.modal-popup .btn-vitrine {
	width: 195px;
    padding: 10px 20px;
    margin:30px auto 0;
    display: block;
}
.modal-popup h2 {
	text-align:center;
	border-bottom:1px solid #000;
	padding-bottom:10px;
	margin-bottom: 30px;
}
.modal-popup p {
	margin-bottom:20px;
}

.methode_gestion_attente ul, 
.methode_diagno_coupe_coiffage ul, 
.methode_diagno_technique ul {
	list-style: none;
}
.methode_gestion_attente ul ul {
	list-style-image: url('../img/list.png');
	padding-left:30px;
}



/* INCLUDE */
.extra-content .content-container {
	height:100%;
}
.extra-content {
	background: #fff none repeat scroll 0 0;
	height: 100%;
	position: fixed;
	transform: translateZ(0px);
	transition: all 400ms ease 0s;
	z-index: 4065;
	left:-570px;
	width:570px;
	min-width:570px;
}
.extra-content h1 {
	padding-left:40px;
}

.extra-content .extra-content-header {
	position:fixed;
	width:100%;
}
.extra-content .content-container h2 {
	border-bottom:1px solid #000000;
	margin: 50px 25px 0;
    padding-bottom: 15px;
    font-size:24px;
    line-height: 28px;
}
.extra-content .content {
	overflow-x:auto;
	font-size: 18px;
	line-height:26px;
	margin-bottom:25px;
}
.extra-content .content-container .content-container-inner {
	margin:0 25px;
}
.extra-content p.margetop {
	margin-top:50px;
}
.extra-content p.margebottom, 
.extra-content ul.margebottom {
	margin-bottom:35px;
}
.extra-content p.margezero {
	margin-bottom: 0;
}
.extra-content .video-material {
	display: block;
}
.extra-content .video-material * {
	width:100%;
	height:auto;
}
.extra-content .pager-slide-extracontent {
	height:75px;
	position:fixed;
	padding-top:7px;
	bottom:0;
	left:0;
	width:100%;
}
.extra-content .btn-fp {
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	color:#ca9a6c;
	border:1px solid #ca9a6c;
	background-color: #fff;
	font-size: 20px;
	font-weight: normal;
}
.extra-content .btn-fp:hover,
.extra-content .btn-fp:focus, 
.extra-content .btn-fp:active {
	color:#fff;
	background-color:#ca9a6c;
	text-decoration: none; 
}

.extra-content .next .btn-fp {
	float: right;
    padding: 5px 20px;
    width: 220px;
    margin: 0 25px 30px 0;
}
.extra-content .btn-fp.disabled {
	display:none;
}
.extra-content .quiz {
	float:right;
	width:90px;
}

/* INCLUDE EXTRA CONTENT */
.authoring {
	letter-spacing: -0.02em;
	padding:10px 20px;	
}
.authoring_suiveuse {
	display: block;
	width:24.58%;
}
.extra-content .content .prev {
	display: none;
}
.extra-content .accueil-reception .quiz {
	margin-top:-63px;
}
.extra-content .methode {
	width:202px;
	padding:10px 0;
}
.extra-content .gamme_shampooing,
.extra-content .gamme_styling {
	width:240px;
	float:left;
}
.extra-content .gamme_shampooing {
	padding:10px 0;
	margin-right:12px;
}
.extra-content .gamme_styling {
	padding:23px 0;
}
.authoring_magazine_special, 
.authoring_fiche-diagnostic, 
.authoring_services_couleurs {
	display: inline-block;
	margin-right:13px;
} 
.authoring_magazine_special {
	width:19.34%;
}
.authoring_fiche-diagnostic {
    width:18%;	
}
.authoring_services_couleurs {
	width:25.3%;
}
.gestion-attente .quiz {
	margin-top:65px;	
}
.diagno_coupe_coiffage2 h2 span {
	display:block;
	font-size:20px;
}
.diagno_technique1 .authoring_services_couleurs, 
.diagno_technique2 .authoring_services_couleurs, 
.diagno_technique3 .authoring_services_couleurs {
	width:35.3%;
}
.diagno_coupe_coiffage1 .authoring_fiche-diagnostic, 
.diagno_coupe_coiffage2 .authoring_fiche-diagnostic, 
.diagno_coupe_coiffage3 .authoring_fiche-diagnostic, 
.diagno_shampooing1 .authoring_fiche-diagnostic, 
.diagno_shampooing2 .authoring_fiche-diagnostic {
	width:28%;
} 


/*MODAL BP*/
.modal-bp {
	z-index:4048;
}
.modal-bp {
	z-index:4050;
}
.modal-bp .modal-lg {
	transform: translateY(0px);
    transition: all 400ms ease 0s;
    position:relative;
    right:0;
    width:80%;
}  
.modal-bp.panel_bp_diagnos_shampooing .modal-lg {
	width:55%;
}
.modal-bp .modal-content {
	background-color: transparent;
	box-shadow:none;
	border:0 none;
}
.modal-bp .modal-header {
	border:0 none;
	padding:0;
}
.modal-bp .modal-header button.close {
	opacity:1;
	margin-top:-10px;
	color:#262626;
}
.modal-bp .modal-header button.close span {
	font-size:30px;
    text-shadow: none;
    color:#333;	
    line-height: 1em;
}
.modal-bp .modal-body {
	background-color:#262626;	
}
.modal-bp .popup-container, 
.modal-bp .popup-container h2  {
	color:#fff;
	text-align: center;
}
.modal-bp .popup-container h2 {
	padding-bottom:20px;
	border-bottom:1px solid #fff;
	margin:0 1.5% 30px;
	line-height: 34px;
}
.modal-bp .popup-container .quiz.btn-fp {
	background-color: #262626;
	border:1px solid #fff;
	border-bottom: 0 none;
	width:98px;
	position:relative;
	margin:0 auto 15px;
	padding:10px 20px;
	display: block;
	font-size:20px;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
}
.modal-bp .popup-container .quiz.btn-fp:hover, 
.modal-bp .popup-container .quiz.btn-fp:focus,
.modal-bp .popup-container .quiz.btn-fp:active {
	background-color: #ffffff;
	color:#262626;
	text-decoration: none;
}
.modal-bp .popup-container .quiz:before {
	content:"";
	position: absolute;
	background: url('../img/bp-before-quiz.png') no-repeat transparent 0 0;
	height:16px;
	width:98px;
	display: block;
	bottom:-16px;
	left:0;
	text-align: center;
}
.modal-bp .popup-container .quiz:hover:before, 
.modal-bp .popup-container .quiz:focus:before, 
.modal-bp .popup-container .quiz:active:before {
	background-image:url('../img/bp-before-quiz-hover.png');
}
.modal-bp .popup-container ul {
	list-style:none;
	list-style-image:none;
	padding-left: 0;
	margin-top:20px;
}
.modal-bp .popup-container li.bp-nav {
	float:left;
}
.modal-bp .popup-container li.bp-nav a {
	color:#fff;
}
.modal-bp .popup-container li.bp-nav a:hover, 
.modal-bp .popup-container li.bp-nav a:focus, 
.modal-bp .popup-container li.bp-nav a:active {
	text-decoration: none;
}
.modal-bp .popup-container li.bp-nav img, 
.modal-bp .popup-container li.bp-nav span {
	display:block;
}
.modal-bp .popup-container li.bp-nav img {
	margin-bottom:20px;
}
.modal-bp .popup-container li.bp-nav span {
	border:1px solid #fff;
	color:#fff;
	line-height: 80px;
	padding: 0 20px;
}
.modal-bp .popup-container li.bp-nav a:hover span, 
.modal-bp .popup-container li.bp-nav a:focus span, 
.modal-bp .popup-container li.bp-nav a:active span {
	color:#262626;
	background-color: #fff;
}

.modal-bp .popup-container li.bp-nav span em {
	display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    font-size: 14px;
    font-style: normal;
}
.modal-bp .popup-container li.bp-nav span em em {
	display: block;
    font-size: 0.9em;
}
.blackpannel_diagno_coupe_coiffage li.bp-nav, 
.blackpannel_diagno_technique li.bp-nav {
	width:30%;
	float:left;
	text-align:center;
	margin:0 1.5%;
	line-height:;
}
.blackpannel_diagno_shampooing li.bp-nav {
	width:47%;
	float:left;
	text-align:center;
	margin:0 1.5%;
}
.blackpannel_diagno_shampooing h2 span {
	display:block;
	font-size:26px;
}
.btn_blackpannel_diagno_shampooing {
	width:47%;
	margin:0 1.5%;
	float: left;
}
.btn_blackpannel_diagno_shampooing a {
	width:65%;
	float:left;
	background-color: #ca996d;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    padding: 0 25px;
    text-transform: uppercase;
}
.btn_blackpannel_diagno_shampooing a em {
	vertical-align: middle;
	line-height: 24px;	
	font-style:normal;
	display: inline-block;
}
.btn_blackpannel_diagno_shampooing a:hover,
.btn_blackpannel_diagno_shampooing a:focus,
.btn_blackpannel_diagno_shampooing a:active {
	text-decoration: none;
	color:#ca996d;
	background-color: #fff;
}
.btn_blackpannel_diagno_shampooing a.authoring_suiveuse {
	float:right;
}

/* Modal Quiz */
.modal-backdrop.backquiz {
	z-index: 4073;
}
.modal-quiz, 
.modal-authoring, 
.modal-video {
	z-index: 4075;
}
.modal-quiz .modal-header, 
.modal-authoring .modal-header, 
.modal-video .modal-header {
	background-color: transparent;
}
.modal-quiz .modal-lg, 
.modal-authoring .modal-lg, 
.modal-video .modal-lg {
	width:60%;
	height:90%;
}
.modal-quiz .modal-content {
	box-shadow:none;
	border-radius:0;
	border:0 none;
	background-color: transparent;
}
.modal-quiz .modal-body {
	background-color: #fff;
	border:2px solid #333;
}

/*Modal Authoring*/
.modal-backdrop.backauthoring {
	z-index:4073;
}
.modal-authoring .modal-content, 
.modal-video .modal-content {
	box-shadow:none;
	border-radius:0;
	background-color: transparent;
	border:0 none;
}
.modal-authoring .modal-body, 
.modal-video .modal-body {
	padding:0;
}


/*SIDE EFFECT*/
.side-open .extra-content {
	left:0;
}
#mobile_overlay{
	display:none;
	position: fixed;
	z-index: 4055;
	background-color: #000000;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}
.side-open #mobile_overlay {
	display:block;
}
.side-open #tourDIV, 
.side-open.modal-bp .modal-lg {
	right:-570px;
}


/*VIDEO*/
a.video-material:hover,
a.video-material:focus,
a.video-material:active {
	cursor:pointer;
}
#container_video {
	margin-bottom: 15px;
}
#container_video #video_player_container {
	width: 100%;
    display: block;
}
#container_video #video_player_container video {
	width: 100%;
    display: block;
    height:auto;
}
