<!-- DIAGNOSTICS TECHNIQUES -->
<div id="blackpannel_diagno_technique" class="popup-container blackpannel_diagno_technique">
	<h2>DIAGNOSTICS TECHNIQUES</h2>
	<p><b>En polyvalence ou trilogue</b><br/>
	Il est important ici de travailler la qualité de l’échange à 2 ou à 3.</p>

	<ul class="clearfix">
		<li class="bp-nav">
			<a onclick="loadContent('diagno_technique1')">
				<img src="http://lorempixel.com/420/236/fashion/9" alt="Visuel Balayage 2 ors" />
				<img src="" alt="Balayage 2 ors" />
			</a>
		</li>
		<li class="bp-nav">
			<a onclick="loadContent('diagno_technique2')">
				<img src="http://lorempixel.com/420/236/fashion/9" alt="Visuel Ambre vénitien" />
				<img src="" alt="Ambre vénitien" />
			</a>
		</li>
		<li class="bp-nav">
			<a onclick="loadContent('diagno_technique3')">
				<img src="http://lorempixel.com/420/236/fashion/9" alt="Visuel Brun Cashmere" />
				<img src="" alt="Brun Cashmere" />
			</a>
		</li>
	</ul>
	<div class="buttons-container clearfix">
		<a id="test_diagno_technique" class="quiz serif btn-fp bootpopup">Quiz</a>
	</div>
</div>