<!-- DIAGNOSTICS SHAMPOOINGS -->
<div id="blackpannel_diagno_shampooing" class="popup-container blackpannel_diagno_shampooing">
	<h2>DIAGNOSTICS SHAMPOOINGS <span>Propositions Vente Produits</span></h2>
	<p>Proposer des produits adaptés à la nature des cheveux et aux attentes de la cliente.</p>

	<ul class="clearfix">
		<li class="bp-nav">
			<a onclick="loadContent('diagno_shampooing1')">
				<img src="http://lorempixel.com/420/236/fashion/10" alt="Avec gestion de l'attente" />
				<span><em>Avec Gestion de l'Attente</em></span>
			</a>
		</li>
		<li class="bp-nav">
			<a onclick="loadContent('diagno_shampooing2')">			
				<img src="http://lorempixel.com/420/236/fashion/10" alt="Sans gestion de l'attente" />
				<span><em>Sans Gestion de l'Attente</em></span>
			</a>
		</li>
	</ul>
	<div class="buttons-container clearfix">
		<div class="btn_blackpannel_diagno_shampooing">
			<a id="" class="slideshow authoring_suiveuse"><em>La gamme shampooing & soin</em></a>
		</div>
		<div class="btn_blackpannel_diagno_shampooing">
			<a id="" class="slideshow "><em>La gamme styling</em></a>
		</div>
	</div>
	<div class="buttons-container clearfix">
		<a id="test_diagno_shampooing" class="quiz serif btn-fp bootpopup">Quiz</a>
	</div>
</div>