<!-- DIAGNOSTICS COUPE COIFFAGE -->
<div id="blackpannel_diagno_coupe_coiffage" class="popup-container clearfix blackpannel_diagno_coupe_coiffage">
	<h2>DIAGNOSTICS COUPE COIFFAGE</h2>
	<p>Observer, écouter et répondre aux attentes des clients. Les rassurer.</p>

	<ul class="clearfix">
		<li class="bp-nav">
			<a onclick="loadContent('diagno_coupe_coiffage1')"><img src="http://lorempixel.com/420/236/fashion/8" alt="La cliente qui sait ce qu’elle veut" />
			<span><em>La cliente qui sait ce qu’elle veut</em></span></a>
		</li>
		<li class="bp-nav">
			<a onclick="loadContent('diagno_coupe_coiffage2')"><img src="http://lorempixel.com/420/236/fashion/8" alt="La cliente qui ne sait pas ce qu’elle veut... (mais qui sait ce qu’elle ne veut pas)" />
			<span><em>La cliente qui ne sait pas ce qu’elle veut...<br/><em>(mais qui sait ce qu’elle ne veut pas)</em></em></span></a>
		</li>
		<li class="bp-nav">
			<a onclick="loadContent('diagno_coupe_coiffage3')"><img src="http://lorempixel.com/420/236/fashion/8" alt="La cliente qui ne sait ni ce qu’elle veut, ni ce qu’elle ne veut pas" />
			<span><em>La cliente qui ne sait ni ce qu’elle veut, ni ce qu’elle ne veut pas</em></span></a>
		</li>
	</ul>
	<div class="buttons-container clearfix">
		<a id="test_accueil_reception" class="quiz serif btn-fp bootpopup">Quiz</a>
	</div>
</div>