<!-- ACCUEIL SALON -->
<div id="accueil-reception" class="content-container clearfix accueil-reception">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="../../img/logo-franck-provost.png" width="190" height="56" alt="Franck Provost" /></h1>
		
		<h2>L'ACCUEIL RÉCEPTION</h2>
	</div>
	<div class="content">
		<div id="slideExtraContent">
			<div class="slide1 slide">
				<div id="container_video">
					<a id="video_accueil_reception" class="video-material"><img src="http://lorempixel.com/570/321/fashion/3" /></a>
				</div>
				<div class="content-container-inner">

					<p><b>Les atouts pour un accueil réussi :</b><br/>
					Le sourire, la politesse, le regard, l’écoute, la disponibilité</p>

					<p><b>Personnaliser votre accueil par :</b><br/>
					« Bonjour Madame / Monsieur »</p>

					<p><b>Déterminez le but de sa visite :</b><br/>
					« Bonjour Madame / Monsieur, que puis-je pour vous ? »</p>

					<p><b>Déterminez s’il s’agit d’un client habituel ou d’un nouveau client :</b><br/>
					« Préférez-vous un coiffeur en particulier aujourd’hui ? »</p>

					<p><b>Si la réponse est :</b><br/>
					« Non, c’est la 1ère fois que je viens »<br/>
					Donnez des explications simples et concrètes sur le concept de votre salon, informez votre manager qui désignera le coiffeur afin de dispatcher correctement le travail.</p>

					<p><b>Si la réponse est : </b>« Oui, je désire être coiffé par David »<br/>
					Si celui-ci est déjà occupé, c’est au manager de proposer une autre solution.</p>

					<p><b>Dans les deux cas demandez au client s’il a un impératif horaire</b><br/>
					« De combien de temps disposez-vous ? »<br/>
					<b>Ou</b><br/>
					« A quelle heure devez-vous être sorti ? »</p>

					<p><b>Si le temps donné ne convient pas :</b><br/>
					Invitez votre client à revenir dans la journée, donnez-lui les horaires du salon et offrez-lui un <b>coupon trafic</b> pour l’inciter à revenir.</p>
				</div>
			</div>

			<div class="slide2 slide">
				<div id="container_video">
					<a id="video_vestiaire" class="video-material"><img src="http://lorempixel.com/570/321/fashion/3" /></a>
				</div>
				<div class="content-container-inner">
					<p><b>Si le temps donné lui convient :</b><br/>
					- Prenez son vêtement, reporter le n° du cintre sur la fiche suiveuse et mettez-le au vestiaire.</p>
				</div>
			</div>

			<div class="slide3 slide">
				<div id="container_video">
					<a id="video_peignoir" class="video-material"><img src="http://lorempixel.com/570/321/fashion/3" /></a>
				</div>
				<div class="content-container-inner">
					<p>- Passez-lui un peignoir et fermez-le.</p>
				</div>
			</div>

			<div class="slide4 slide">
				<div id="container_video">
					<a id="video_suiveuse" class="video-material"><img src="http://lorempixel.com/570/321/fashion/3" /></a>
				</div>
				<div class="content-container-inner">
					<p>Remplissez lisiblement la fiche suiveuse avec le nom du client, ceci permettra de personnaliser davantage la prestation en appelant la cliente par son nom (noter les coordonnées de chaque nouveau client afin d’avoir un fichier à jour).<br/>Notez le nom ou le code du coiffeur, Glissez la fiche suiveuse dans le peignoir.</p>
					<ul>
						<li>Accompagnez-le client à la place Diagnostic/Conseil</li>
						<li>Informer le client du coiffeur qui réalisera la prestation</li>
						<li>Informer le coiffeur que le client est installé</li>
						<li>Effectuer la Gestion d’attente si le coiffeur n’est pas immédiatement disponible</li>
					</ul>
					<div class="buttons-container clearfix">
						<a id="authoring_suiveuse" class="slideshow authoring_suiveuse"><img src="../../img/fiche-suiveuse.jpg" alt="Fiche suiveuse" /></a>
						<a id="test_accueil_reception" class="quiz btn-fp serif bootpopup">Quiz</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div id="pagerSlideExtraContent" class="pager-slide-extracontent">
			<span id="prev" class="prev"> </span>
			<span id="next" class="next"> </span>
		</div>
		<!-- slideExtraContent -->
</div>
<script type="text/javascript">
	$(document).ready(function() {
		// $("#next").click(function(){
		// 	$("#slideExtraContent").animate({ scrollTop: 0 }, "slow");
		// });

		heightContent.init();
		loadSlider.init();
	});
</script>