<!-- ACCUEIL TELEPHONIQUE -->
<div id="accueil-phone" class="content-container clearfix accueil-phone">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="../../img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
	
		<h2>L'ACCUEIL TÉLÉPHONIQUE</h2>
	</div>
	<div class="content">
		<div class="content-container-inner">
			<p class="margebottom"><b>Le sourire s’entend...</b></p>
			
			<p class="margezero"><b>L’accueil téléphonique est primordial.</b><br/>
			C’est la première impression que la cliente a du salon.<br/>Il doit être :</p>
			<ul class="margebottom">
				<li>Souriant</li>
				<li>Spontané</li>
				<li>Disponible</li>
			</ul>

			<p class="margebottom"><b>1- Prise de contact</b><br/>
			Le téléphone ne doit pas sonner plus de trois fois.</p>

			<p class="margebottom"><b>Le message d’accueil :</b><br/>
			« Franck Provost Bonjour, Eric à votre service, que puis-je pour vous ? »</p>

			<p class="margebottom">Si votre interlocuteur vous demande un rendez vous, présenter le « sans rendez-vous » de manière positive :</p>

			<p class="margebottom"><b>Ne pas dire :</b><br/>
			« On ne prend pas de rendez-vous ! » (Le client le vit comme une contrainte).</p>

			<p class="margebottom"><b>Dire plutôt :</b><br/>
			« Vous pouvez venir quand vous le souhaitez, nous serons ravis de vous accueillir, du lundi au samedi de 9h à 19h. Dans notre salon, vous n’avez pas besoin de prendre rendez-vous »</p>

			<p class="margebottom"><b>Répondez clairement aux questions et aux attentes du client</b> Soyez attentif afin qu’il ait le sentiment d’être « unique ».</p>

			<p class="margebottom"><b>Ne donnez pas de tarif par téléphone</b>
			Invitez gentiment le client à venir dans votre salon :<br/>
			« Je vous propose de venir dans notre salon pour un diagnostic personnalisé ; nous réaliserons un devis qui répondra à vos attentes.<br/>
			Au plaisir de vous voir, Madame / Monsieur. »</p>

			<p><b>2- Fin de la communication</b><br/>
			« Merci de votre appel, Madame / Monsieur, je vous souhaite une bonne fin de journée » Le client doit raccrocher en premier !</p>
			
			<div class="buttons-container clearfix">
				<a id="test_accueil_phone" class="quiz btn-fp serif bootpopup">Quiz</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>