<!-- ACCUEIL ENTREE -->
<div id="accueil-entree" class="content-container clearfix accueil-entree">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="190" height="56" alt="Franck Provost" /></h1>
		
		<h2>L'accueil à l'entrée du salon</h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_entree" class="video-material"><img src="http://lorempixel.com/570/321/fashion/1" /></a>
		</div>

		<div class="content-container-inner">
			<p><b>Séduire le client dès son arrivée.<br/>
			L’accueil des clients se fait dans les trois secondes :</b><br/>
			Toute l’équipe est concernée. L’accueil salon doit être à la fois : Rapide ; Souriant ; Décidé ; Chaleureux ; Rassurant.Nous accueillons toujours nos clients par :<br/>« Bonjour Madame / Monsieur »</p>

			<p class="margetop">Vous pouvez maintenant vous diriger vers la caisse avec le ou la cliente pour l’étape qui suit l’accueil, la réception.</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>