<!-- GESTION ATTENTE -->
<div id="coiffage" class="content-container clearfix coiffage">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Le Coiffage</h2>
	</div>
	<div class="content">

		<div class="content-container-inner">
			<p class="margebottom"><b>Avant la coupe :</b></p>
			<ul>
				<li>Exécutez le coiffage selon le diagnostic précédemment déterminé</li>
				<li>Conseillez à votre client(e) une méthode pour se recoiffer chez lui/elle</li>
				<li>Proposer l’utilisation de produits Styling appropriés</li>
			</ul>
			
			<div class="buttons-container clearfix">
				<a id="video_coiff" class="btn-fp videopopup video_coiff">LE RITUEL OCÉAN BRUSH</a>
			</div>	
			<div class="buttons-container clearfix">
				<a id="" class="btn-fp slideshow ">LA GAMME STYLING</a>
			</div>
			<div class="buttons-container clearfix">
				<a id="test_coiff" class="quiz btn-fp serif bootpopup">Quiz</a>
			</div>		
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>