<!-- GESTION ATTENTE -->
<div id="depart" class="content-container clearfix depart">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Départ</h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_depart" class="video-material"><img src="http://lorempixel.com/570/321/fashion/1" /></a>
		</div>

		<div class="content-container-inner">
			<p>Le départ du client doit être aussi soigné que l’accueil, car les derniers mots du coiffeur lui resteront en mémoire.</p>

			<p><b>Comme pour l’accueil, toute l’équipe est concernée.</b></p>

			<p>Accompagnez votre client jusqu’à la sortie, ouvrez-lui la porte. Souhaitez-lui :<br/>
			« Bonne soirée ! », « Bonne journée ! », « Bon week-end ! », « Bonnes vacances ... »</p>

			<p>Remerciez-le :<br/>
			<b>« Merci de votre visite. Au revoir Madame / Monsieur GAUTHIER ! »</b></p>

			<div class="buttons-container clearfix">
				<a id="test_depart" class="quiz btn-fp serif bootpopup">Quiz</a>
			</div>		
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>