<!-- DIAGNO TECHNIQUE BRUN CASHMERE -->
<div id="diagno_technique3" class="content-container clearfix diagno_technique3">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Diagnostic Technique <img src="" alt="Brun Cashmere" /></h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_diagno_technique3" class="video-material"><img src="http://lorempixel.com/570/321/fashion/5" /></a>
		</div>

		<div class="content-container-inner">
			<div class="buttons-container clearfix">
				<a onclick="loadPopup('methode_diagno_technique')" class="btn-fp bootpopup methode">La méthode</a>
			</div>
			<div class="buttons-container clearfix">
				<a id="authoring_services_couleurs" class="slideshow authoring_services_couleurs"><img src="img/services-couleurs.jpg" alt="Les Services Couleurs et Soins Exclusifs" /></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>