<!-- DIAGNO COUPE COIFFAGE3 -->
<div id="diagno_coupe_coiffage3" class="content-container clearfix diagno_coupe_coiffage3">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
	
		<h2>La Cliente qui ne sait ni ce qu’elle veut, ni ce qu’elle ne veut pas</h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_diagno_coupe_coiffage3" class="video-material"><img src="http://lorempixel.com/570/321/fashion/4" /></a>
		</div>

		<div class="content-container-inner">
			<div class="buttons-container clearfix">
				<a onclick="loadPopup('methode_diagno_coupe_coiffage3')" class="btn-fp bootpopup methode">La méthode</a>
			</div>
			<div class="buttons-container clearfix">
				<a id="authoring_fiche-diagnostic" class="slideshow authoring_fiche-diagnostic"><img src="img/fiche-diagnostic-conseil.jpg" alt="Fiche diagnostic conseil" /></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>