<!-- GESTION ATTENTE -->
<div id="encaissement" class="content-container clearfix encaissement">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Encaissement</h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_resultat" class="video-material"><img src="http://lorempixel.com/570/321/fashion/1" /></a>
		</div>

		<div class="content-container-inner">
			<p><b>La courtoisie à l’honneur...</b><br/>
			L’encaissement doit se faire avec attention. C’est très important pour que le client n’ait pas le sentiment d’être poussé dehors.</p>

			<p><b>Ayez un mot courtois :</b><br/>
			« Avez-vous passé un agréable moment ? »</p>

			<p class="margebottom">Avant l’encaissement, demander la carte de fidélité.<br/>
			Remettez à vos clients les outils de communication adaptés :</p>
			<ul>
				<li>La carte commerciale</li>
				<li>Le magazine FRANCK PROVOST.</li>
			</ul>

			<p>L’objectif est ici de ne pas lui parler uniquement d’argent. Annoncez le prix global indiqué sur le devis préalablement établi. Il s’agit d’une simple formalité.<br/>
			Le paiement doit rester un passage très accessoire dans la visite.</p>

			<div class="buttons-container clearfix">
				<a id="" class="slideshow "><img src="" alt="Fiche suiveuse" /></a>
				<a id="authoring_outils_fideliser" class="slideshow authoring_outils_fideliser"><img src="" alt="Outils pour fidéliser vos clients" /></a>
			</div>		
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>