<!-- GESTION ATTENTE -->
<div id="espace-technique" class="content-container clearfix espace-technique">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>L’Espace Technique</h2>
	</div>
	<div class="content">

		<div class="content-container-inner">
			<p>Afin de renforcer l’Identité et l’image FRANCK PROVOST nous vous encourageons à utiliser les techniques exclusives de la marque et le vocabulaire correspondant.À chaque collection, nous vous proposerons des techniques exclusives à votre marque.</p>

			<p>- Celle-ci vous apporteront un savoir-faire unique, une meilleure fidélisation de votre clientèle, elles seront révélatrices de besoins.<br/>
			- Soyez le conseillé privilégié de votre cliente, vous êtes force de solution !<br/>
			- Venez retrouver les techniques de coloration exclusives, telles que les Couleurs Précieuses Franck Provost :</p>

			<div class="buttons-container clearfix">
				<a id="authoring_services_couleurs" class="slideshow authoring_services_couleurs"><img src="img/services-couleurs.jpg" alt="Les Services Couleurs et Soins Exclusifs" /></a>
				<a id="authoring_couleurs_precieuses" class="slideshow authoring_couleurs_precieuses"><img src="img/services-couleurs.jpg" alt="Les couleurs précieuses" /></a>		
			</div>

			<p>- Chez Franck Provost, les techniques sont personnalisées à chaque cliente, elle permette la mise en valeur de vos coupes par des effets de volume, de reflet, de contraste, de brillance et ainsi sublimer la beauté de toutes les femmes.</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>