<!-- GESTION ATTENTE -->
<div id="finitions" class="content-container clearfix finitions">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Les Finitions</h2>
	</div>
	<div class="content">

		<div class="content-container-inner">
			<p class="margebottom"><b>Avant la coupe :</b></p>
			<ul>
				<li>Dès que votre cliente est coiffée, effectuer impérativement vos finitions et texturisations si nécessaire</li>
				<li>La personnalisation de votre coupe sera complète une fois vos finitions (et texturisations si nécessaire) réalisées</li>
			</ul>
			
			<div class="buttons-container clearfix">
				<a id="test_finition" class="quiz btn-fp serif bootpopup">Quiz</a>
			</div>		
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>