<!-- GESTION ATTENTE -->
<div id="gestion-attente" class="content-container clearfix gestion-attente">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>La gestion de l'attente</h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_gestion_attente" class="video-material"><img src="http://lorempixel.com/570/321/fashion/4" /></a>
		</div>

		<div class="content-container-inner">
			<p>Vos clients vous seront reconnaissants et oublieront qu’ils attendent si vous êtes attentifs à leur égard.<br/>
			La gestion d’attente doit servir à rassurer la cliente sur son temps d’attente, à anticiper la prestation, à préparer la cliente sur la coupe, la technique, le coiffage, le shampooing. La lecture et la boisson chaude viennent en dernier !</br> 
			Soyez vigilant et détecter les premiers signes d’impatience, l’idée étant que ceux-ci n’apparaissent pas !</p>
			<div class="buttons-container clearfix">
				<a id="methode_gestion_attente" class="btn-fp bootpopup methode">La méthode</a>
			</div>
			<div class="buttons-container clearfix">
				<a id="" class="slideshow gamme_shampooing btn-fp">La gamme shampooing & soin</a>
				<a id="" class="slideshow gamme_styling btn-fp">La gamme styling</a>
			</div>
			<div class="buttons-container clearfix">
				<a id="authoring_magazine_special" class="slideshow authoring_magazine_special"><img src="img/magazine-speciale-hiver-2015.jpg" alt="Magazine N° Spécial Hiver 2015" /></a>
				<a id="authoring_fiche-diagnostic" class="slideshow authoring_fiche-diagnostic"><img src="img/fiche-diagnostic-conseil.jpg" alt="Fiche diagnostic conseil" /></a>
				<a id="authoring_services_couleurs" class="slideshow authoring_services_couleurs"><img src="img/services-couleurs.jpg" alt="Les Services Couleurs et Soins Exclusifs" /></a>
				<a id="test_gestion_attente" class="quiz serif btn-fp bootpopup">Quiz</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>