<!-- GESTION ATTENTE -->
<div id="hygiene" class="content-container clearfix hygiene">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>L’Hygiène</h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_hygiene" class="video-material"><img src="http://lorempixel.com/570/321/fashion/4" /></a>
		</div>

		<div class="content-container-inner">
			<p><b>L’utilisation du Kit Hygiène Franck Provost est obligatoire.</b><br/>
			On peut définir l’hygiène d’un salon de coiffure par l’impeccable propreté qu’il dégage.</p>

			<p class="margebottom"><b>Propreté totale</b></p>
			<ul>
				<li>L’aspect extérieur : la vitrine et les abords du salon</li>
				<li>L’aspect intérieur : du sol au plafond, comprenant les tablettes, l’espace technique, l’espace shampooing etc...</li>
			</ul>

			<p><b>L’hygiène pendant la prestation coiffure :</b><br/>
			Tout au long des différents services, l’hygiène doit être irréprochable, grâce à des gestes très professionnels.<br/>
			Faites-en impérativement la démonstration devant chaque client.<br/>
			Le matériel utilisé est en contact non seulement avec le cheveu, mais aussi le cuir chevelu et la peau, d’où l’importance d’une propreté parfaite pour la cliente.</p>

			<div class="buttons-container clearfix">
				<a id="test_hygiene" class="quiz serif btn-fp bootpopup">Quiz</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>