<!-- GESTION ATTENTE -->
<div id="instant-shampooing" class="content-container clearfix instant-shampooing">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>L’Instant Shampooing</h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_instant_shampooing" class="video-material"><img src="http://lorempixel.com/570/321/fashion/4" /></a>
		</div>

		<div class="content-container-inner">
			<p><b>L’instant shampooing, un moment privilégié.</b><br/>
			C’est avant tout un moment de détente mais pas uniquement. Il a aussi pour but de faciliter et de préparer aux services suivants : la coupe, le coiffage et parfois la technique.<br/>
			La bonne réalisation de cette étape est indispensable, c’est pour cela que l’instant shampooing doit être réalisé avec la plus grande attention.</p>

			<ul>
				<li>Désinfectez avec la lingette le rebord du bac</li>
				<li>Installez confortablement la cliente au Bac (réglage du siège)</li>
				<li>Mettez la serviette sur le peignoir et consultez la fiche suiveuse pour prendre connaissance du shampooing à réaliser en fonction du diagnostic cheveux</li>
				<li>Assurez-vous bien que la température de l’eau lui convient</li>
				<li>Au 2ème shampooing, le massage est indispensable et doit être réalisé avec des gestes doux</li>
				<li>L’application du soin se fait sur des cheveux bien essorés mèche par mèche sans toucher les racines. Le temps de pause terminé, l’émulsion est indispensable avant le rinçage.</li>
				<li>Ne parlez pas à vos collègues, le client va croire que c’est à lui que vous vous adressez</li>
				<li>Une fois le shampooing ou le soin terminé, les cheveux doivent être démêlés, essorés à la serviette puis rassemblés dans un turban (pour les clientes)</li>
				<li>Invitez le client à vous suivre jusqu’au banc de coiffage</li>
			</ul>
			<div class="buttons-container clearfix">
				<a id="" class="slideshow gamme_bac">La Gamme Bac</a>
			</div>
			<div class="buttons-container clearfix">
				<a id="" class="slideshow gamme_shampooing">La Gamme Shampooing & Soin</a>
				<a id="" class="slideshow gamme_styling">La Gamme Styling</a>				
			</div>

			<div class="buttons-container clearfix">
				<a id="test_instant_shampooing" class="quiz serif btn-fp bootpopup">Quiz</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>