<!-- GESTION ATTENTE -->
<div id="presentation-resultat" class="content-container clearfix presentation-resultat">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Présentation et Visualisation du Résultat</h2>
	</div>
	<div class="content">
		<!-- video -->
		<div id="container_video">
			<a id="video_resultat" class="video-material"><img src="http://lorempixel.com/570/321/fashion/1" /></a>
		</div>

		<div class="content-container-inner">
			<p class="margebottom"><b>Avant la coupe :</b></p>
			<ul>
				<li>C’est la finalisation de la prestation<li>
				<li>Retirez le peignoir et prenez la fiche suiveuse et le devis placés dans la poche</li>
				<li>Tendez le miroir a la cliente et visualiser ensemble le résultat de la prestation, si une technique a été réalisée, le coloriste se joint à vous</li>
				<li>Validez le résultat en lui demandant si elle est satisfaite</li>
				<li>Accompagnez-la à la réception, et remettez-lui aimablement son vêtement grâce au numéro de vestiaire</li>
			</ul>

			<p><b>Rendez propre votre place de coiffage pour votre prochaine cliente.</b></p>
			
			<div class="buttons-container clearfix">
				<a id="test_resultat" class="quiz btn-fp serif bootpopup">Quiz</a>
			</div>		
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>