<!-- COLLABORATEUR -->
<div id="qui-collaborateur" class="content-container clearfix qui-collaborateur">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="../../img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Qui est le collaborateur FRANCK PROVOST</h2>
	</div>
	
	<div class="content">
		<div class="content-container-inner">
			<p class="margebottom"><b>Le collaborateur Franck Provost :</b></p>
			<ul>
				<li>Applique les règles des « Incontournables »</li>
				<li>Est respectueux de ses collègues</li>
				<li>Participe activement au maintien de la propreté générale du salon et veille à celle de ses outils</li>
				<li>Est organisé dans son activité et fait preuve d’initiative</li>
				<li>Adopte chaque jour une présentation soignée pour un look exemplaire en portant la tenue Franck Provost (pantalonnoir, chemise ou tee-shirt blanc siglé, chaussures noires, cravate)</li>
				<li>Est à l’écoute des clients avec psychologie, politesse et attention</li>
				<li>Communique sur tous les services Franck Provost et produits proposés par le salon</li>
				<li>Adopte une attitude responsable en toutes circonstances</li>
				<li>A des gestes attentionnés</li>
				<li>Profite des observations et conseils pour enrichir son professionnalisme</li>
				<li>Sait se remettre en question</li>
				<li>Souhaite évoluer dans son métier de mode, et se forme selon ses besoins et en fonction des nouveautés</li>
			</ul>
			<div class="buttons-container clearfix">
				<a id="authoring_regles_dix" class="btn-fp authoring">La règle des dix</a>
				<a id="test_collaborateur" class="quiz btn-fp serif bootpopup">Quiz</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>