<!-- GESTION ATTENTE -->
<div id="realisation-coupe" class="content-container clearfix realisation-coupe">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Réalisation des Services Techniques</h2>
	</div>
	<div class="content">

		<div class="content-container-inner">
			<ul>
				<li>Installez confortablement la cliente</li>
				<li>Assurez-vous que le peignoir soit bien fermé</li>
				<li>Pour toute technique, mettez une cape plastique autour du cou pour protéger la serviette, le peignoir et les vêtements</li>
				<li>Utilisez les méthodes et les produits adaptés pour le résultat escompté</li>
				<li>Ne pas déborder sur le visage</li>
				<li>Pour les couleurs, émulsionnez sans eau avant de rincer consciencieusement</li>
				<li>Après chaque prestation, le bac doit être remis en ordre et nettoyé</li>
				<li>Remplissez la fiche technique</li>
				<li>Conduisez la cliente au banc de coiffage</li>
			</ul>
			
			<div class="buttons-container clearfix">
				<a id="test_real_technique" class="quiz btn-fp serif bootpopup">Quiz</a>
			</div>			
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>