<!-- GESTION ATTENTE -->
<div id="realisation-coupe" class="content-container clearfix realisation-coupe">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Réalisation Coupe</h2>
	</div>
	<div class="content">

		<div class="content-container-inner">
			<p class="margebottom"><b>Avant la coupe :</b></p>
			<ul>
				<li>Assurez-vous que le peignoir soit bien fermé</li>
				<li>Désinfectez la cape de coupe, le peigne, les ciseaux et la tondeuse</li>
				<li>Mettez la cape de coupe</li>
				<li>Retirez la serviette (turban), pliez la en quatre et posez-là sur la tablette</li>
			</ul>
			
			<p><b>La tablette devant la cliente doit être toujours propre et disponible pour qu’elle puisse poser son sac, les magazines etc.</b></p>
			
			<p class="margebottom"><b>Pendant la coupe :</b></p>
			<ul>
				<li>Utiliser la méthode et les techniques des collections Franck Provost</li>
				<li>Réalisez la coupe selon le diagnostic personnalisé précédemment déterminé</li>
			</ul>

			<p class="margebottom"><b>Après la coupe :</b></p>
			<ul>
				<li>Nettoyez les cheveux sur le visage et dans le cou</li>
				<li>Retirez la cape de coupe</li>
				<li>Demandez à votre client(e) de se lever pour enlever les cheveux du peignoir et du fauteuil</li>
				<li>Balayez les cheveux au sol</li>
			</ul>
			
			<div class="buttons-container clearfix">
				<a id="authoring_selection_coupe" class="btn-fp slideshow authoring_selection_coupe">SÉLECTION DE COUPES</a>
			</div>	
			<div class="buttons-container clearfix">
				<a id="authoring_collections" class="btn-fp slideshow authoring_collections">LES COLLECTIONS FRANCK PROVOST</a>
			</div>
			<div class="buttons-container clearfix">
				<a id="authoring_methodologie" class="btn-fp slideshow authoring_methodologie">LA MÉTHODOLOGIE FRANCK PROVOST</a>
			</div>
			<div class="buttons-container clearfix">
				<a id="test_real_technique" class="quiz btn-fp serif bootpopup">Quiz</a>
			</div>		
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>