<!-- EQUIPE -->
<div id="travailler-ensemble" class="content-container clearfix travailler-ensemble">
	<div id="extraContentHeader" class="extra-content-header">
		<h1><img src="../../img/logo-franck-provost.png" width="192" height="56" alt="Franck Provost" /></h1>
		
		<h2>Pour mieux travailler ensemble</h2>
	</div>
	<div class="content">
		<div class="content-container-inner">
			<p class="margebottom"><b>Une équipe c’est :</b></p>
			<ul>
				<li>Œuvrer ensemble pour atteindre un but défini</li>
				<li>Favoriser le partage d’expériences et le sens de la responsabilité</li>
				<li>Réunir les compétences et les talents de chacun</li>
				<li>S’encourager mutuellement à exprimer ses différences pour évoluer ensemble</li>
				<li>Gérer et surmonter les pressions et conflits internes</li>
				<li>Tenir compte de l’opinion de chacun et faciliter le dialogue</li>
				<li>S’entraider pour augmenter les résultats</li>
				<li>Dialoguer avec tous les clients, également avec ceux de ses collègues</li>					
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		heightContent.init();
	});
</script>