<!-- DIAGNOSTICS CONSEIL -->
<div id="diagnostics_conseil" class="popup-container diagnostics_conseil">
	<h2>Les diagnostics conseil</h2>
	<div class="text">
		<p>- Ils se déroulent toujours à la place conseil ou au banc de coiffage.<br/>
		- Etablissez le « dialogue » avec le client(e) afin de lui apporter tous vos conseils professionnels selon ses besoins et ses attentes.</p>
		<p>- Identifiez le type de clientèle ; ceci facilitera la compréhension de leurs besoins et attentes</p>
		<ul>
			<li>La client(e) qui sait ce qu’elle veut</li>
			<li>La client(e) qui ne sait pas ni ce qu’elle veut, ni ce qu’elle ne veut pas</li>
			<li>La client(e) qui ne sait pas ce qu’elle veut mais qui sait ce qu’elle ne veut pas</li>
		</ul>
		<p>- Cet échange entre vous et votre client a bien sûr un aspect diagnostic mais c’est également une démarche commerciale.</p>
		<p>- Le diagnostic technique peut aussi se faire en « trilogue » avec le client, le coiffeur et le technicien ; le but étant ici de valoriser le technicien et de le présenter au client.</p>
	</div>
</div>