<div id="popup-incontournables" class="popup-container">
	<h2>« LES INCONTOURNABLES »</h2>
	<div class="text">
		<p>En avant-propos, il est essentiel de rappeler que les clientes nous observent, que l’ambiance<br/> est le premier critère de qualité que les clients vont percevoir.</p>

		<p>Dans les salons Franck Provost, l’accueil se doit d’être aimable et attentif tout au long des étapes de la prestation, de l’arrivée à la sortie du salon.</p>
	</div>
</div>