<!-- METHODE GESTION ATTENTE -->
<div id="methode_gestion_attente" class="popup-container methode_gestion_attente">
	<h2>La méthode</h2>
	<div class="text">
		<ul>
			<li>1. Présentation coiffeur(se)</li>
			<li>2. Rassurer la client(e) sur l’attente</li>
			<li>3. Remettre à la cliente les outils de la marque :
				<ul>
					<li>Book de coupe</li>
					<li>Book des services couleurs et soins exclusifs</li>
					<li>Éventuellement le nuancier couleur si travaux techniques prévus</li>
				</ul>
			</li>
			<li>4. Remettre la fiche Diagnostic et Conseil</li>
			<li>5. Proposer une boisson et remettre des magazines (Franck Provost et autres).</li>
		</ul>
	</div>
</div>