<!-- METHODE TECHNIQUE -->
<div id="methode_diagno_technique" class="popup-container methode_diagno_technique">
	<h2>La méthode</h2>
	<div class="text">
		<ul>
			<li>1. Présentation coiffeur(se) ou dans le cas d’un Trilogue/Présentation Technicien(ne)</li>
			<li>2. Découverte des attentes de la cliente</li>
			<li>3. Propositions</li>
			<li>4. Choix de la teinte ou de l’éclaircissement</li>
			<li>5. Présentation et explications de la technique</li>
			<li>6. Personnalisation par Diamond si nécessaire</li>
			<li>7. Validation</li>
		</ul>
	</div>
</div>