<!-- METHODE DIAGNO COUPE COIFFAGE1 -->
<div id="methode_diagno_coupe_coiffage2" class="popup-container methode_diagno_coupe_coiffage">
	<h2>La méthode</h2>
	<div class="text">
		<ul>
			<li>1. Présentation coiffeur(se)</li>
			<li>2. Découverte des attentes de la cliente</li>
			<li>3. Déterminer vos références de longueur</li>
			<li>4. Prise de points de repères (miroir rétroviseur)</li>
			<li>5. Reformulation / Validation</li>
			<li>6. Diagnostic coiffage</li>
			<li>7. Validation avec le ou la client(e)</li>
		</ul>
	</div>
</div>