<div id="presentation-dialogue" class="popup-container">
	<h2>PRÉSENTATION DES DIALOGUES</h2>
	<div class="text">
		<p>Les Dialogues clients se basent sur des règles de communication, ils permettent :</p>
		<ul>
			<li>D’améliorer votre communication</li>
			<li>De créer de la proximité avec vos clients(es)</li>
			<li>D’établir une confiance mutuelle</li>
			<li>De développer une meilleure compréhension des besoins et attentes de vos clients(es)</li>
			<li>De favoriser le développement des services Franck Provost</li>
			<li>D’améliorer votre fidélisation</li>
		</ul>
		<p>N’oubliez pas que les trois composantes de l’expression orale sont :<br/>Les gestes = 55%<br/>
		La voix/le ton = 38%<br/>
		Les mots = 7%</p>
	</div>
</div>