<div id="popup-regles-jeu" class="popup-container">
	<h2>Quelques règles du jeu</h2>
	<div class="text">
		<p><b>Ces incontournables vont vous plonger dans l’univers d’un salon Franck Provost</b></p>
		<p>Vous allez y retrouver les règles, les exemples à mettre en place dans votre salon. Des quiz vous permettront de vérifier et de valider vos connaissances de manière ludique.</p>
		<p>Nous espérons que <b>« les Incontournables »</b> vous accompagneront de faç on positive au quotidien dans votre salon.<br/>
		Une fois maîtrisés, ils sont une source de plaisir et une ligne de conduite complémentaire à votre savoir-faire, et vous emmèneront droit vers une totale satisfaction de votre clientèle.</p>
		<p><b>La réussite de votre salon passe par la qualité de votre service client !</b></p>
		<a id="video_vitrine" class="btn-vitrine video bootpopup" data-target="#myModalPopup" data-dismiss="modal">La Vitrine par Fabien Provost</a>
	</div>
</div>
<script type="text/javascript">
    // $(document).ready(function(){
    // 	$(".btn-regles-jeu").on('click', function() {
	   //  	$('#myModalVideo').modal({show: true});	
	   //  });
    // });
</script>